# from Android Studio
*.iml
/local.properties
gradle/wrapper/gradle-wrapper.jar
.DS_Store
build/
/build
*/build/
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/other.xml
.idea/vcs.xml


/captures
.externalNativeBuild
.cxx






# Gradle
.gradle/
!/src//build/
!/src//build.gradle
!/src//settings.gradle
!/src//gradle-wrapper.properties

# Gradle Wrapper


# Android Studio
*.keystore
*.jks
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/encodings.xml
/.idea/dictionaries
*/intermediates/
*/local.properties
*/out/
*/captures/
*/idea/
*/.gradle/
*/debug/
*/release/
*/androidTest/
*/releaseUnitTest/
*/debugUnitTest/
*/test/
*/buildType/
*/generated/
*/app/build/
*/buildSrc/build/
*/.settings/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/encodings.xml
.idea/modules/
.idea/tasks/
.idea/scopes/
.idea/codeStyles/
.idea/runConfigurations/
.idea/dictionaries/
.idea/artifacts/
.idea/conversion.xml
.idea/copyright/
.idea/lookup.xml
.idea/codestyles/
.idea/jsLibraryMappings.xml
