# from Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



# Gradle
.gradle/
build/
*/build/
!**/src/**/build/
!**/src/**/build.gradle
!**/src/**/settings.gradle
!**/src/**/gradle-wrapper.properties

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar


# Android Studio
*.keystore
*.jks
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/vcs.xml
.idea/misc.xml
/.idea/dictionaries
.DS_Store
*/build/
*/intermediates/
*/local.properties
*/out/
*/captures/
*/idea/
*/.gradle/
*/debug/
*/release/
*/androidTest/
*/releaseUnitTest/
*/debugUnitTest/
*/test/
*/buildType/
*/generated/
*/app/build/
*/buildSrc/build/
*/.settings/
.idea/misc.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/modules/
.idea/tasks/
.idea/scopes/
.idea/codeStyles/
.idea/runConfigurations/
.idea/dictionaries/
.idea/artifacts/
.idea/conversion.xml
.idea/copyright/
.idea/vcs.xml
.idea/misc.xml
.idea/caches/
.idea/lookup.xml
.idea/codestyles/
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
